

<div class="signup-wrapper">
    <h1>Sign Up</h1>
    <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p> 
    <form class="signup-form" action="/signup" method="post">
        <div>
            <label for="">User Name</label>
            <input name="name" type="text">
        </div>
        <div>
            <label for="">email</label>
            <input name="email" type="email">
        </div>
        <div>
            <label for="">password</label>
            <input  name="password" type="password">
        </div>
        <button>Register</button>
        <p class="error"><%= @error %></p>
        <div>NB! You will be redirected to LOGIN Page</div>
    </form>
</div>