<h1>Projects </h1>

<div class="single-design">
    <% projects.each do |project|%>
        <div><a href="/projects/<%= project["id"]%>"><img  class="zoom" src="<%=project["main_image_url"]%>"></a>
        </div>
        <% end %>
</div>